<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo de Exercicio</title>
    <link rel="stylesheet" type="text/css" href="css/horario/style.css" />
</head>
<body onload="carregar()">
    <header>
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><a href='/'>Inicio</a></li>
                <li><a class='dropdown-arrow'>Serviços</a>
                <ul class='sub-menus'>
                    <li><a href='/idade'>Verificador de idade</a></li>
                    <li><a href='/horario'>Período atual</a></li>
                </ul>
                </li>
            </ul>
        </nav>
        <h1>Hora do Dia</h1>
    </header>
    <section>
        <div id="msg">
            Carregando...
        </div>
        <div id="foto">
            <img id="imagem" src="TODO:PLACEHOLDER" alt="Foto do dia">
        </div>
    </section>
    <script src="js/horario/script.js"></script>
</body>
</html>